BINANCE_API_KEY=
BINANCE_API_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_NOTIFY=1

TELEGRAM_BOT_TOKEN_EXNESS_5M=
TELEGRAM_CHAT_ID_EXNESS_5M=

EXNESS_MT5_TERMINAL_PATH=C:\Program Files\MetaTrader 5 EXNESS\terminal64.exe
EXNESS_MT5_SYMBOL=BTCUSDm

EXNESS_MT5_DEMO_ONLY=false
EXNESS_MT5_EXECUTION_ENABLED=true
EXNESS_MT5_LIVE_TRADING_ENABLED=true
EXNESS_MT5_LIVE_ACCOUNT_LOGIN=218674896
EXNESS_MT5_LIVE_MAX_VOLUME=0.01

EXNESS_MT5_TEST_VOLUME=0.01
EXNESS_MT5_MAGIC=5100501
EXNESS_MT5_MAX_OPEN_POSITIONS=1
